* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Norse-Bold;
  src: url(Norse-Bold.otf);
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Norse-Bold', Courier, monospace;
  font-size: 50px;
}

.container {
  display: flex;
  height: 100%;
}

.leftdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  color: white;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
  padding: 10px;
  font-size: 2em;
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  height: 1.2em;
}

.leftfooter {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#photocredit {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  
  
  
}

a:link {
  color: white;
}

.rightdiv {
  width: 65%;
}