* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Norse-Bold;
  src: url(Norse-Bold.otf);
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.container {
  display: flex;
  height: 100%;
}

.leftdiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 35%;
  background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  color: white;
  font-size: 50px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 35%;
  padding: 10px;
  font-size: 2em;
  font-family: 'Norse-Bold', Courier, monospace;
  background-color: rgba(0, 0, 0, 0.5);
}

img {
  height: 1.2em;
}

.leftfooter {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#photocredit {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

a:link {
  color: white;
}

.rightdiv {
  width: 65%;
  background-color: rgb(230, 230, 230);
}

.rightheader {
  margin: 15% 5% 10% 5%;
  font-weight: bold;
}

.formcontainer {
  background-color: white;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
}

.formcontainer p{
  margin-left: 5%;
  padding-top: 2%;
  font-weight: bold;
}

form {
  margin-left: 5%;
  padding-top: 2%;
  padding-bottom: 5%;
  width: 60%;
  display: flex;
  justify-content: space-between;
  gap: 10%;
  font-size: 16px;
}

form input {
  margin-bottom: 5%;
  height: 30px;
  border-radius: 4px;
}

input:focus {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.inputleft,
.inputright {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.rightfooter {
  margin-left: 5%;
  flex-direction: column;
  font-size: 16px;
}

#submitbutton {
  margin-bottom: 3%;
  padding: 15px 50px;
  border-radius: 12px;
  background-color: #596D48;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.rightfooter a {
  text-decoration: none;
  color: #596D48;
}